/* Evita erro "Cannot manually set color scheme, as dark mode is type 'media'" (react-native-css-interop) */
:root {
  --css-interop-darkMode: class;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
