# Git
.git
.gitignore

# IDE
.idea
.vscode
*.user

# Build outputs
**/bin
**/obj
**/out

# Node (frontend)
**/node_modules
**/npm-debug.log

# Test/coverage
**/coverage
**/.nyc_output
**/*.lcov

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Docs (não necessários no build)
**/*.md
!backend-dotnet/README.md
